@import "~bootstrap/dist/css/bootstrap.css";

$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(25, 218, 51);

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
  color:rgb(218, 25, 176);;
}